.App {
  display: grid;
  grid-template-columns: 480px 480px;
}

.draggableArea {
  background-color: #282c34;
  height: 200px;
  align-items: center;
  width: 540px;
  display: flex
}

.Box {
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
