.App {
  text-align: center;
}

.draggableArea {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Box {
  width: 100px;
  height: 100px;
  background-color: white
}
